
{% extends "base.html" %}
{% load static %}

{% block tab_title %}Войти на сайт{% endblock %}
{% block tab_divider %} - {% endblock %}

{% block page_title %}Войти на сайт{% endblock %}

{% block content %}

<link rel="stylesheet" href={% static "css/pages/form.css" %}>


<div class="form-container">
    
    <form class="form" method="post" action="{% url 'signin' %}">
    <input type="hidden" name="next" value="{{ next }}">
    {% csrf_token %}
    {% if form.non_field_errors %}

    <p class="form__error-space">Имя пользоваетеля и пароль не совпадают. Введите правильные данные.</span>

    
    {% elif next %}         
        <p class="form__error-space">Войдите в систему для продолжения.<br></p>
    {% endif %}

        <div class="form__group">
            <label for="id_username" class="form__label">Имя</label>
            <div class="form__field-group">
                <input type="text" name="username" id="id_username" class="form__input">
                <span class="form__error">{{form.username.errors}}</span>
            </div>
        </div>
        <div class="form__group">
            <label for="id_password" class="form__label">Пароль</label>
            <div class="form__field-group">
                <input type="password" name="password" id="id_password" class="form__input">
                <span class="form__error">{{form.username.errors}}</span>
            </div>
        </div>
        <div class="form__footer">
            <button class="button button_style_blue">Войти</button>
            <a class="form__forgot-link" href={% url 'reset_password' %}>Забыли пароль?</a>
            <a class="form__forgot-link" href="{% url 'signup' %}?next={{next}}">Создать аккаунт</a>
        </div>

    </form>

</div>

{% endblock %}