
{% extends "base.html" %}
{% load static %}

{% block tab_title %}Регистрация{% endblock %}
{% block tab_divider %} - {% endblock %}


{% block page_title %}Регистрация{% endblock %}

{% block content %}

<link rel="stylesheet" href={% static "css/pages/form.css" %}>

<div class="form-container">
    
    <form class="form" method="post" action="{% url 'signup' %}">
    <input type="hidden" name="next" value="{{ next }}">

    {% csrf_token %}
        <div class="form__group">
            <label for="id_name" class="form__label">Имя Фамилия</label>
            <div class="form__field-group">
                <input type="text" name="full_name" id="id_name" class="form__input" value="{{form.cleaned_data.full_name}}">
                <span class="form__error">{{form.full_name.errors}}</span>
            </div>
        </div>
        <div class="form__group">
            <label for="id_username" class="form__label">Логин</label>
            <div class="form__field-group">
                <input type="text" name="username" id="id_username" class="form__input" value={{form.cleaned_data.username}}>
                <span class="form__error">{{form.username.errors}}</span>
            </div>
        </div>
        <div class="form__group">
            <label for="id_email" class="form__label">Адрес электронной почты</label>
            <div class="form__field-group">
                <input type="email" name="email" id="id_email" class="form__input" value={{form.cleaned_data.email}}>
                <span class="form__error">{{form.email.errors}}</span>
            </div>
        </div>
        <div class="form__group">
            <label for="id_password1" class="form__label">Пароль</label>
            <div class="form__field-group">
                <input type="password" name="password1" id="id_password1" class="form__input">
                <span class="form__error">{{form.password1.errors}}</span>
            </div>
        </div>
        <div class="form__group">
            <label for="id_password2" class="form__label">Подтверждение пароля</label>
            <div class="form__field-group">
                <input type="password" name="password2" id="id_password2" class="form__input">
                <span class="form__error">{{form.password2.errors}}</span>
            </div>
        </div>
        <div class="form__footer">
            <button class="button button_style_blue">Создать аккаунт</button>
        </div>
    </form>
</div>

{% endblock %}